<div class="row">
  <div class="container-fluid">
    <div class="search-bar">
      <div class="top-heading">
        <h1>Users</h1>
        <h6 class="mt-0">View and edit user accounts</h6>
      </div>
      <div class="search-section">
        <%= form_with url: url, method: :get, local: true do |f| %>
          <%= f.text_field :term, id: :term, value: params[:term], class: 'form-control', placeholder: 'search' %>
          <div class="icon">
            <i class="fas fa-search"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
