<div class='nested-fields'>
  <%= f.text_field :domain, class: "form-control", placeholder: "domain.com" %>
  <div class="form-group mt-3">
    <%= link_to_remove_association f do || %>
    <i class="fas fa-minus-circle    "></i>
      Remove Domain
    <% end %>
  </div>
</div>
