<div class="text-center">
  <%= image_tag 'checked.png', width: 250 %>

  <h4>Your password has been successfully updated! You can now return to the Quadio app and login with your new password.</h4>
</div>
